/* Banner */
@import "/src/Sass/Utils/Variables.scss";

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;

  &__background {
    position: absolute;
    width: 90%;
    border-radius: $border-radius-m;
    height: 100px;
    background: $full-dark;
    mix-blend-mode: darken;

    & img {
      position: absolute;
      width: 100%;
      border-radius: $border-radius-m;
      opacity: 0.8;
      height: 100px;
      object-fit: center;
    }
  }
  & h1 {
    display: block;
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: $only-white;
    text-align: start;
    width: 80%;
    top: 15px;
  }
}
@media (min-width: 350px) {
  .banner h1 {
    text-align: start;
    top: 10%;
  }
}
/* Media Tablete */
@media (min-width: 620px) {
  .banner {
    height: 220px;
    margin-bottom: 20px;

    &__background {
      height: 220px;
      border-radius: $border-radius-l;

      & img {
        height: 220px;
        border-radius: $border-radius-l;
        object-fit: center;
      }
    }
    & h1 {
      font-size: 48px;
      text-align: center;
      top: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .banner h1 {
    top: 25%;
  }
}
