.card__contain {
  width: 100%;
  height: 800px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.card__container {
  display: grid;
  align-items: end;
  width: 90%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(227, 49, 21) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
}

.card__contain h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 20px;
}

/* Tablette */
@media (min-width: 700px) {
  .card__contain {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    padding: 0 35px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .card__container {
    width: 100%;
  }

  /* Desktop*/
  @media (min-width: 1440px) {
    .card__contain {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      padding: 0 35px;
      gap: 0;
    }
  }
}
